nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #474747;
    background-image: linear-gradient(to right, #d54a2d, #8b2555 , #d54a2d);
    display: inline-block;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

nav li {
    font-size: 15pt;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    color: white;
    z-index:1;
}

nav a {
    text-decoration: none;
    display: block;
    color: white;
    font-weight: bold;
    

}

nav a:hover {
    color: #662946;
    
    font-weight: bold;

}

nav a:visited {
    color: white;
}

nav li li a {
    display: block;
}

nav ul li ul {
    padding-left: 0;
    padding-right: 0;
}

nav li li {
    /* when displayed */
    display: block;
    float: none;
    border: 0;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    font-size: 12pt;
}

li ul, li li ul {
    /* hide the menu */
    display: none;
    position: absolute;
    z-index: 0;
}

li:hover ul {
    display: block;
    position: absolute;
    background: #474747;
    background-image: linear-gradient(#d54a2d , #8b2555);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

nav {
    top: 2.5em;
    left: 0;
    /*width: 100%;*/
    text-align: center;
    font-family: Arial, monospace;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

nav a.active {
    border-bottom: 2px solid;
}

.purple:hover {
    
    color: #fc6646;
    
}

.glow {
   
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@media screen and (min-width: 670px) and (max-width: 1019px){
    nav ul {
        padding-left: 10px;
        padding-right: 10px;
    }

    nav li {
        font-size: 12pt;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav li li {
        font-size: 10pt;
    }
}

@media screen and (max-width: 669px) {
    nav {
        display: none;
    }
}
