* {
	margin: 0;
	padding: 0;
}	

.dropContent{
display: none;
  position: relative;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}
.show{
    display: block;
}

.dropContent a {
    
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown {
  position: relative;
  text-align: center;
}

.dropButton:hover, .dropButton:focus {
  background-color:darkgray;
  color:white;
}

.dropButton {
    background: rgba(255,255,255,0);
  color: black;
  padding: 16px;
  font-size: 120%;
  border: none;
  cursor: pointer;

}


