* {
	margin: 0;
	padding: 0;
}	

.item h4{
	border: 5px solid black;
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
  	font-size: 130%;
}

.item a{
	border: 1px solid black;
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    text-decoration: none;
}

